.filter__wrapper {
  margin-bottom: 1.875rem;
  display: flex;

  .form-control {
    border: 2px solid #dedede;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #aaaaaa;
      font-size: 0.875rem;
    }

    &[type="text"] {
      color: #aaaaaa;
    }
  }

  .form-select {
    border: 2px solid #dedede;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    color: #aaaaaa;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;

    &::-ms-expand {
      display: none;
    }

    option {
      color: #aaaaaa;
    }

    &:focus {
      outline: none;
    }
  }
}

@media (min-width: 1px) and (max-width: 640px) {
  .card {
    display: flex;
    flex-flow: column;
    align-items: center;

    .stretched-link {
      width: 70%;
      margin: auto;
      margin-bottom: 1rem;
    }
  }

  .filter__wrapper {
    flex-flow: column;

    .form-control {
      margin-bottom: 0.625rem;
    }
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .filter__wrapper {
    justify-content: center;
    flex-flow: row;

    .form-control {
      margin-right: 0.625rem;
    }
  }
}

@media (min-width: 961px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .stretched-link {
      width: 20%;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }

  .filter__wrapper {
    flex-flow: row;
    justify-content: center;

    .form-control {
      margin-right: 0.625rem;
    }
  }
}
