.pokemon {
  &__name,
  &__number {
    text-align: center;
    font-size: 1.875rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 1.875rem;
    margin-top: 1.25rem;
  }

  &__number {
    margin-left: 0.25rem;
  }

  &__profile {
    .left__column {
      margin-bottom: 1.25rem;
    }
  }
}

.back {
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

@media (min-width: 769px) {
  .pokemon {
    &__profile {
      display: flex;
      justify-content: center;

      .left__column {
        margin-bottom: 0;
        margin-right: 1.875rem;
      }

      .right__column {
        width: 35%;
      }
    }
  }
}
